# Created by https://www.gitignore.io/api/batch
# Edit at https://www.gitignore.io/?templates=batch

### Batch ###
# BatchFiles
*.bat
*.sh
*.cmd
*.btm
*.log

*/webConfig.json

config/

**/weboverlay/conf
**/weboverlay/logs

# End of https://www.gitignore.io/api/batch

node_modules/
package-lock.json
